{% extends 'global/base.html' %}

{% if title_body %}
    {% block title_body %} {{h1}} {% endblock title_body %}
{% endif %}
    
{% block blog_content %}
    <article class ="post single-post">
        <header>
            <h1 class="post__title">
                <a href="{% url 'post' post.id %}">
                    {{post.title}}
                </a>
            </h1>
        </header>
        <div class="post__content">
            {{post.body}}
        </div>
    </article>
{% endblock blog_content %}